* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: cursive;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}
.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  height: 70%;
  border-bottom: 1px solid rgb(100, 100, 100);
}
.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  color: white;
  background-color: #5a4bff;
  width: 25rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.query {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  background-color: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(98, 98, 98, 1);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.query img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.listItemImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(2) > .listItemImg {
  margin-right: 1.3rem;
}

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background-color: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  width: 70rem;
  border-radius: 0.5rem;
}
.inp > input {
  width: calc(100% - 3rem);
  padding: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
.send {
  background-color: transparent;
  border: none;
}

.chatFooter p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
